.bgimg-1 {
  background-image: url("../static/images/img_parallax.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../static/images/img_parallax2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../static/images/img_parallax3.jpg");
  min-height: 400px;
}
