.tunel {
  background-image: url("../static/images/tunel.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../static/images/tunel-2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../static/images/serra.jpg");
  min-height: 400px;
}

.audio {
    margin: auto;
    width: 23%;
    margin-top: 20px;
}

.video {
  padding: 20px 20px 35px 20px;
  /* margin-bottom: 50px; */
  background: #282e34;
}

.video h3 { color: white}

.video video { width: 50%; margin: auto; display: block; }

p.destaque {    font-weight: 300;
    color: white;
    font-size: 20px;
    width: 30%;
    text-align: justify;
    margin-left: 15px;}

.caminho img {
  width: 50%;
  margin: auto;
  display: block;
  margin-bottom: 20px
}

.center-image {
  padding: 20px
}

.tunel-morte {
  margin: initial;
  width: 60%;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-left: 40px;
}

.tunel-morte h2 { width: 100%; margin-bottom: 20px; font-size: x-large;}

.tunel-morte p {
  width: 100%;
  font-size: 16px
}

.matraca video {
  width: 199px;
  height: 350px;
  margin: auto;
  display: block;
  margin-bottom: 40px;
}
