.tunel {
  background-image: url("../static/images/tunel.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../static/images/tunel-2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../static/images/serra.jpg");
  min-height: 400px;
}

.audio {
    margin: auto;
    width: 23%;
    margin-top: 20px;
}

.video {
  padding: 20px 20px 35px 20px;
  /* margin-bottom: 50px; */
  background: #282e34;
}

.video h3 {
  color: white
}

.video video {
  width: 80%;
  margin: auto;
  display: block;
}
